body {
	background-image: url("images/background.jpg");
	background-attachment: fixed;
}

#container {
	width: 990px;
	margin: auto;
}

#navbar {
	height: 190px;
	width: 100%;
	background-color: #1a1a1c;
	position: relative;
}

	#logo {
		height: 200px;
	}

	#links {
		float: right;
		position: absolute;
		bottom: 7px;
		right: 7px;
	}

		#links ul {
			list-style-type: none;
		}

			#links ul li {
					font-family: serif;
					font-size: 22px;
					display: inline;
				}

				#links ul li:last-child a {
					border-right: none;
				}

				#links ul li a {
					color: white;
					text-decoration: none;
					border-right: 1px solid grey;
					margin-right: 25px;
					padding-right: 25px;
				}

				#links ul li a:link {
					color: white;
				}

				#links ul li a:visited {
					color: white;
				}

				#links ul li a:active {
					color: #c93a3a;
				}

				#links ul li a:hover {
					color: #c93a3a;
				}

#photo {
	margin-top: 10px;
	height: 490px;
	width: 740px;
	float: left;
	background-image: url("/images/main.jpg");
	background-size: 740px 490px;
	background-repeat: no-repeat;
}

#sidebar {
	background-color: #1a1a1c;
	margin-left: 10px;
	height: 490px;
	width: 240px;
	margin-top: 10px;
	float: right;
	color: white;
}

	#sidebar h2 {
		font-family: serif;
		padding-top: 0px;
		padding-left: 52.5px;
	}

	#sidebar p {
		padding: 8px;
		font-family: arial;
		font-size: 20px;
	}

#divider {
	background-color: #1a1a1c;
	height: 10px;
	width: 100%;
	margin-top: 510px;
	opacity:0.5;
	filter:alpha(opacity=50);
}

#section0 {
	background-color: #666666;
	margin-top: 10px;
	width: 100%;
	height: 255px;
}

#section1 {
	background-color: #666666;
	margin-top: 10px;
	width: 323px;
	height: 345px;
	position: absolute;
}

#section2 {
	background-color: #666666;
	margin-top: 10px;
	margin-left: 333px;
	width: 323px;
	height: 345px;
	position: absolute;
}

#section3 {
	background-color: #666666;
	margin-top: 10px;
	margin-left: 666px;
	width: 323px;
	height: 345px;
	position: absolute;
}

#footer {
	height: 85px;
	width: 980px;
	border-style: solid;
	border-color: #131313;
	background-color: #151515;
	border-width: 5px;
	margin-top: 365px;
	margin-bottom: 10px;
}

	#footer p {
		color: white;
		font-size: 12px;
		text-align: center;
		margin-top: 30px;
	}

#content_about {
	background-color: grey;
	width: 740px;
	margin-top: 10px;
	float: left;
}
	
	#content_about h2 {
		padding: 10px;
	}

	#content_about p {
		padding: 10px;
		font-size: 20px;
	}

	#content_about h3 {
		padding-left: 10px;
		padding-bottom: 0px;
	}

#email_form {
	margin: auto;
}

	#email_form form {
		padding: 10px;
	}

#footer_contact {
	height: 85px;
	width: 980px;
	border-style: solid;
	border-color: #131313;
	background-color: #151515;
	border-width: 5px;
	margin-top: 510px;
	margin-bottom: 10px;
}

	#footer_contact p {
		color: white;
		font-size: 12px;
		text-align: center;
		margin-top: 30px;
	}

#content_contact {
	background-color: grey;
	width: 740px;
	margin-top: 10px;
	float: left;
	height: 489px;
}
	
	#content_contact h2 {
		padding: 10px;
	}

	#content_contact p {
		padding: 10px;
		font-size: 20px;
	}

	#content_contact h3 {
		padding-left: 10px;
		padding-bottom: 0px;
	}


#footer_about {
	height: 85px;
	width: 980px;
	border-style: solid;
	border-color: #131313;
	background-color: #151515;
	border-width: 5px;
	margin-top: 379px;
	margin-bottom: 10px;
}

	#footer_about p {
		color: white;
		font-size: 12px;
		text-align: center;
		margin-top: 30px;
	}

#sidebar_about {
	background-color: #1a1a1c;
	margin-left: 10px;
	height: 359px;
	width: 240px;
	margin-top: 10px;
	float: right;
	color: white;
}

	#sidebar_about h2 {
		font-family: serif;
		padding-top: 0px;
		padding-left: 52.5px;
	}

	#sidebar_about p {
		padding: 8px;
		font-family: arial;
		font-size: 20px;
	}
